<%= form_with(model: location_area, class: "contents") do |form| %>
  <% if location_area.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(location_area.errors.count, "error") %> prohibited this location_area from being saved:</h2>

      <ul class="list-disc ml-6">
        <% location_area.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": location_area.errors[:name].none?, "border-red-400 focus:outline-red-600": location_area.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :location_id, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
    <div class="mt-2 grid grid-cols-1">
      <%= form.select :location_id, Location.all.map { |t| [t.name, t.id]}, {}, class: "col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus-visible:outline-indigo-500" %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
