<div id="<%= dom_id climb_session %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= climb_session.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start:</strong>
    <%= climb_session.start %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End:</strong>
    <%= climb_session.end %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location:</strong>
    <%= climb_session.location.name %>
  </div>
</div>
