<%= form_with(model: climb_session, class: "contents") do |form| %>
  <% if climb_session.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3"
    >
      <h2>
        <%= pluralize(climb_session.errors.count, "error") %> prohibited this climb_session from being saved:
      </h2>
      <ul class="list-disc ml-6">
        <% climb_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :location_id, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
    <div class="mt-2 grid grid-cols-1">
      <%= form.select :location_id, @locations.map { |t| [t.name, t.id]}, {}, class: "col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus-visible:outline-indigo-500" %>
      <svg
        viewBox="0 0 16 16"
        fill="currentColor"
        data-slot="icon"
        aria-hidden="true"
        class="
          pointer-events-none col-start-1 row-start-1 mr-2 size-5
          self-center justify-self-end text-gray-500 sm:size-4
          dark:text-gray-400
        "
      >
        <path
          d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
          fill-rule="evenodd"
        />
      </svg>
    </div>
  </div>
  <div class="inline">
    <%= form.submit "Start Session", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
